/*	reset	*/
*{margin: 0;padding: 0;text-decoration:none}
a, a:focus, object, img{outline:none;border:0}

/*	usual suspects	*/
.none		{display:none;height:0;}
.clear		{clear:both}
.left		{float:left}
.right		{float:right}
.aligncenter{text-align:center}
.alignleft	{text-align:left}
.alignright	{text-align:right}

/*	default	*/
body{text-align:center;/*background-color:#999*/font-family:'Roboto', sans-serif;}
header,nav,menu,article,aside,footer,section,details,figcaption,figure,hgroup{display: block}

/* moz hack */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

#total{
	height:1.5em;
	border: 1px solid #777;
	background-color:#fff;
	margin:.5em;
}

input{
	margin:.25em;
}

article{
	background-color:#eee;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	width:160px;
	border: 1px solid #aaa;
}

input[type='button']{
	
}
